
.banner {
    padding: 6px 0 50px 0;
}

.banner:after {
    content: "";
    width: 680px;
    height: 762px;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url("../img/GameOverHeader.png");
    position: absolute;
    right: 18%;
    top: 201px;
    z-index: 1;
}

.banner__title {
    font-size: 150px;
    font-weight: 900;
    text-transform: uppercase;
    margin: 0 0;
    letter-spacing: -13px;
    word-spacing: -9px;
    position: relative;
    max-width: 1280px;
}

.banner__subtitle {
    font-weight: 400;
    font-size: 28px;
    padding:0 0 0 100px ;
    margin-bottom: 67px;
}

.description {
    max-width: 420px;
    font-size: 30px;
    font-weight: 400;
    display: grid;
    grid-template-columns: minmax(90px, 1fr) minmax(90px, 1fr);
    grid-template-rows: minmax(90px, 173px);
    gap: 20px;
    margin-bottom: 156px;
}

.description-first{
    grid-column: 1/2 ;
    display: grid;
    grid-template-rows: minmax(25px, 86px) minmax(25px, 70px);
    place-self: start;
    gap: 23px;
}

.description-next{
    grid-column: 2/3 ;
    display: grid;
    grid-template-rows: minmax(25px, 88px) minmax(25px, 85px);
    place-self: start;
    gap: 21px 0;
}

.description-first__paragraph {
    grid-column: 1/2;
    grid-row: 2/3;
    text-align: center;
}

.description-next__paragraph {
    grid-column: 2/3;
    grid-row: 2/3;
    text-align: center;
}

.description-first__title {
    grid-column: 1/2;
    grid-row: 1/2;
    place-self: center;
    font-size: 100px;
    font-weight: 900;
    line-height: 142px;
    color: var(--main-color);
}

.description-next__title {
    grid-column: 2/3;
    grid-row: 1/2;
    place-self: end center;
    text-transform: uppercase;
    font-size: 75px;
    font-weight: 900;
    line-height: 60px;
    color: var(--main-color);
}

.second {
    position: relative;
    width: 100%;
    height: 144px;
    margin-bottom: 100px;
}

.second__button {
    position: relative;
    font-size: 26px;
    font-weight: 700;
    width: 371px;
    min-height: 77px;
    background-color: var(--primary-color);
    color: #ffffff;
    border-radius: 10px;
    border: none;
    text-transform: uppercase;
    margin-bottom: 154px;
    box-shadow: 0 0 8px 3px var(--primary-color);
    outline: 1px solid transparent ;
}

.second__button:hover {
    background-color: var(--primary-color-3);
    transition-duration: 1s;
    transition-property: background-color;
}

.second__button:active {
    background-color: var(--primary-color-3);
    transition-duration: 1s;
    transition-property: background-color;
}

.second__button:focus {
    background-color: var(--primary-color-3);
    outline-color: var(--primary-color-3);
    transition-duration: 2s;
    transition-property: background-color, outline-color;
}

.second__btn {
    position: absolute;
    right: 50%;
    top: 50%;
    color: transparent;
    outline: 1px solid transparent;
    z-index: 2;
}

.second__svg:hover circle {
    fill: #ffffff;
    transition-duration: 2s;
    transition-property: fill;
}

.second__svg:hover rect {
    fill: var(--primary-color);
    transition-duration: 1.5s;
    transition-property: fill;
}

.second__svg:active circle {
    fill: var(--main-color);
    stroke: var(--main-color);
    transition-duration: 2s;
    transition-property: fill, stroke;
}

.second__svg:active rect {
    fill: #ffffff;
    transition-duration: 1.5s;
    transition-property: fill;
}

.second__btn:focus {
    outline-color: var(--main-color);
    transition-duration: 2s;
    transition-property: outline-color;
}


@media (max-width: 1400px) {
    .banner:after {
        right: 6%;
        top: 215px;
    }
}

@media (max-width: 1200px) {
    .banner__title {
        font-size: 130px;
    }

    .banner:after {
        width: 569px;
        height: 641px;
        background-size: 100% 100%;
        right: 3%;
        top: 194px;
    }

    .second {
        height: 75px;
        margin-bottom: 31px;
    }

    .second__btn {
        right: 50%;
        top: 0;
    }

    .second__button {
        margin-bottom: 56px;
    }
}

@media (max-width: 1050px) {
    .banner:after {
        width: 482px;
        height: 580px;
        top: 202px;
    }

    .second__button {
        margin-bottom: 3px;
    }

}

@media (max-width: 1024px) {
    .banner__title {
        font-size: 120px;
        word-spacing: 1px;
        letter-spacing: -12px;
        margin-bottom: 15px;
    }

    .banner__subtitle {
        font-size: 22px;
        line-height: 30px;
        margin-bottom: 39px;
    }

    .banner:after {
        width: 450px;
        height: 500px;
        right: 58px;
        top: 176px;
    }

    .description__title:before {
        width: 50px;
        height: 62px;
        top: -119px;
        right: 84px;
    }

    .description__subtitle:before {
        width: 126px;
        height: 48px;
        top: -94px;
        right: 53px;
    }

    .description {
        font-size: 26px;
        line-height: 30px;
        grid-template-columns: minmax(90px, 170px) minmax(90px, 165px);
        margin-bottom: 70px;
    }

    .description-first__paragraph {
        font-size: 26px;
        line-height: 30px;
    }

    .description-next__paragraph {
        font-size: 26px;
        line-height: 30px;
    }

    .description-first {
        place-self: center;
        gap: 13px;
    }

    .description-first__title {
        max-width: 54px;
        font-size: 80px;
        line-height: 112px;
    }

    .description-next {
        grid-template-rows: minmax(25px, 84px) minmax(25px, 80px);
        gap: 17px 0;
    }

    .description-next__title {
        max-width: 133px;
        font-size: 60px;
        place-self: end start;
    }

    .second__button {
        font-size: 22px;
        width: 288px;
        min-height: 62px;
        left: 43px;
    }

    .second__btn {
        width: 67px;
        height: 67px;
    }
}

@media (max-width: 1000px) {
    .banner:after {
        width: 456px;
        height: 504px;
        right: 60px;
        top: 145px;
    }

    .banner__title{
        font-size: 100px;
        line-height: 86px;
    }
}

@media (max-width: 945px) {
    .banner:after {
        width: 412px;
        height: 474px;
    }

    .second__button {
        font-size: 20px;
        width: 251px;
        min-height: 53px;
        left: 37px;
    }
}

@media (max-width: 880px) {
    .banner {
        padding: 14px 0 50px 0;
    }

    .banner__title {
        font-size: 86px;
        line-height: 86px;
        letter-spacing: -9px;
        padding-left: 3px;
        margin-bottom: 17px;
    }

    .second__btn {
        display: none;
    }

    .banner__subtitle {
        font-size: 18px;
        padding-left: 69px;
    }
}

@media (max-width: 840px) {
    .banner {
        padding: 8px 0 40px 0;
    }

    .banner:after {
        width: 421px;
        height: 479px;
        right: 58px;
        top: 162px;
    }

    .description {
        grid-template-columns: minmax(90px, 104px) minmax(90px, 107px);
        grid-template-rows: minmax(90px, 140px);
        gap: 0 20px;
        margin-bottom: 75px;
    }

    .description-first {
        grid-template-rows: minmax(25px, 46px) minmax(25px, 37px);
        gap: 12px;
    }

    .description-next {
        grid-template-rows: minmax(25px, 66px) minmax(25px, 40px);
        gap: 16px 0;
    }

    .description-first__title {
        max-width: 34px;
        font-size: 50px;
        line-height: 71px;
    }

    .description-next__title {
        width: 89px;
        font-size: 40px;
        line-height: 30px;
    }

    .description-first__paragraph {
        font-size: 16px;
        line-height: 18.4px;
    }

    .description-next__paragraph {
        font-size: 16px;
        line-height: 18.4px;
    }

    .second {
        margin-bottom: 52px;
    }

    .second__button {
        font-size: 16px;
        line-height: 24px;
        width: 212px;
        min-height: 46px;
        left: 1px;
        margin-bottom: 0;
        border-radius: 4px;
    }
}

@media (max-width: 768px) {
    .second {
        margin-bottom: 70px;
    }
}

@media (max-width: 750px) {
    .banner:after {
        right: 38px;
        top: 169px;
    }
}

@media (max-width: 690px) {
    .banner__title {
        font-size: 73px;
        line-height: 73px;
        letter-spacing: -6px;
    }

    .banner:after {
        width: 351px;
        height: 394px;
        top: 147px;
    }

    .description {
        margin-bottom: 24px;
    }

    .second {
        margin-bottom: 30px;
    }

    .second__button {
        font-size: 15px;
        line-height: 20px;
        width: 179px;
        min-height: 36px;
    }
}

@media (max-width: 625px) {
    .banner__title {
        font-size: 66px;
        line-height: 66px;
        padding-left: 0;
        margin-bottom: 0;
    }

    .banner:after {
        width: 300px;
        height: 340px;
    }

    .banner__subtitle {
        font-size: 15px;
        padding-left: 46px;
        margin-bottom: 13px;
    }
}

@media (max-width: 570px) {
    .banner__title {
        font-size: 59px;
        line-height: 59px;
    }

    .banner__subtitle {
        margin-bottom: 30px;
    }

    .second {
        height: 35px;
        margin-bottom: 42px;
    }

    .second__button {
        font-size: 13px;
        line-height: 15px;
        width: 151px;
        min-height: 31px;
    }

    .banner:after {
        width: 270px;
        height: 300px;
    }

    .description {
        grid-template-columns: minmax(60px, 89px) minmax(60px, 89px);
        grid-template-rows: minmax(80px, 94px);
        margin-bottom: 45px;
    }

    .description-first {
        grid-template-rows: minmax(25px, 42px) minmax(25px, 31px);
        gap: 3px;
    }

    .description-next {
        grid-template-rows: minmax(25px, 44px) minmax(25px, 32px);
        gap: 12px 0;
    }

    .description-first__paragraph {
        font-size: 13px;
        line-height: 14.4px;
    }

    .description-next__paragraph {
        font-size: 13px;
        line-height: 14.4px;
    }

    .description-first__title {
        max-width: 25px;
    }

    .description-next__title {
        width: 70px;
    }
}

@media (max-width: 509px) {
    .banner__title {
        font-size: 50px;
        line-height: 50px;
        margin-bottom: 5px;
    }

    .banner:after {
        width: 230px;
        height: 260px;
        top: 164px;
    }

    .banner__subtitle {
        font-size: 12px;
        padding-left: 35px;
        line-height: 15px;
    }
}

@media (max-width: 470px) {
    .banner:after {
        top: 136px;
    }

    .banner__title {
        font-size: 45px;
        line-height: 45px;
        letter-spacing: -3px;
    }

    .banner__subtitle {
        margin-bottom: 10px;
    }

    .second {
        margin-bottom: 35px;
    }

    .second__button {
        font-size: 10px;
        line-height: 12px;
        width: 117px;
        min-height: 27px;
    }
}

@media (max-width: 430px) {
    .banner:after {
        width: 200px;
        height: 230px;
        right: 25px;
        top: 165px;
    }
}

@media (max-width: 400px) {
    .banner {
        padding: 8px 0 23px 0;
    }

    .banner__title {
        font-size: 35px;
        line-height: 35px;
        letter-spacing: -2px;
    }

    .banner__subtitle {
        font-size: 10px;
        padding-left: 22px;
        line-height: 14px;
        margin-bottom: 30px;
    }

    .description {
        grid-template-columns: minmax(40px, 72px) minmax(40px, 86px);
        gap: 0;
        margin-bottom: 30px;
    }

    .description-next {
        grid-template-rows: minmax(25px, 49px) minmax(25px, 32px);
        gap: 5px 0;
    }

    .second {
        margin-bottom: 42px;
    }

    .description-first__paragraph {
        font-size: 10px;
        line-height: 11.5px;
    }

    .description-next__paragraph {
        font-size: 10px;
        line-height: 11.5px;
    }

    .description-first__title {
        max-width: 18px;
        font-size: 26px;
        line-height: 37px;
    }

    .description-next__title {
        width: 58px;
        font-size: 22px;
        line-height: 31px;
        place-self: end center ;
    }
}

@media (max-width: 370px) {

    .banner:after {
        width: 170px;
        height: 200px;
        top: 148px;
        right: 20px;
    }

    .second {
        height: 28px;
        margin-bottom: 20px;
    }

    .banner__subtitle {
        margin-bottom: 10px;
    }

}

@media (max-width: 345px) {
    .banner__title {
        letter-spacing: -3px;
        word-spacing: 2px;
    }

    .banner:after {
        width: 160px;
        height: 181px;
        top: 134px;
        right: 20px;
    }

    .banner__subtitle {
        padding-left: 20px;
        margin-bottom: 0;
    }

    .description {
        grid-template-columns: minmax(40px, 66px) minmax(40px, 80px);
        margin-bottom: 6px;
    }

    .description-first {
        grid-template-rows: minmax(25px, 30px) minmax(25px, 31px);
        gap: 2px;
    }

    .description-next {
        grid-template-rows: minmax(25px, 30px) minmax(25px, 31px);
        gap: 2px;
        place-self: center start;
    }

    .description-first__title {
        max-width: 16px;
    }

    .description-next__title {
        width: 48px;
    }
}

@media (max-width: 320px) {
    .banner:after {
        top: 90px;
        right: 3px;
    }
}
