
.banner {
    padding: 29px 0 50px 0;
}

.banner__title:after {
    content: "";
    width: 675px;
    height: 762px;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url("../img/GameOverHeader.png");
    position: absolute;
    right: -4px;
    top: 70px;
}

.banner__title {
    font-size: 150px;
    font-weight: 900;
    text-transform: uppercase;
    margin: 0 0;
    letter-spacing: -13px;
    word-spacing: -10px;
    position: relative;
    max-width: 1280px;
}

.banner__subtitle {
    font-weight: 400;
    font-size: 28px;
    padding:0 0 0 100px ;
    margin-bottom: 171px;
}

.description {
    max-width: 397px;
    font-size: 30px;
    font-weight: 400;
    display: flex;
    flex-flow: row nowrap;
    gap: 43px;
    margin-bottom: 175px;
}

.description p {
    position: relative;
    text-align: center;
    min-height: 68px;
}

.description__title:before {
    content: "";
    background-image: url("../img/4.png");
    position: absolute;
    width: 67px;
    height: 141px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    top: -135px;
    right: 60px;
}

.description__subtitle:before {
    content: "";
    background-image: url("../img/new.png");
    position: absolute;
    width: 166px;
    height: 106px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    top: -100px;
    right: -3px;
}

.second {
    position: relative;
}

.second__button {
    position: relative;
    font-size: 26px;
    font-weight: 700;
    width: 371px;
    min-height: 77px;
    background-color: #6C0287;
    color: #ffffff;
    border-radius: 10px;
    border: none;
    text-transform: uppercase;
    margin-bottom: 154px;
    box-shadow: 0 0 8px 3px #6C0287;
}

/*.second__button:after {
    content: "";
    background-image: url("../img/arrow-down.png");
    position: absolute;
    width: 67px;
    height: 141px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    top: -135px;
    right: 60px;
} */

.second__image {
    position: absolute;
    right: 540px;
    bottom: 110px;
}
