
.faq__item:nth-child(even){
    background-color: var(--primary-color-2);
    color: white;
}

.faq__list {
    padding: 0 0;
}

.faq__button{
    width: 46px;
    max-height: 44px;
    border: none;
    outline: 3px solid transparent;
    outline-offset: 3px;
    border-radius: 50%;
}

.purple {
    display: flex;
    width: 46px;
    height: 46px;
}

.purple-extra {
    display: none;
}

.white {
    display: flex;
    width: 46px;
    height: 46px;
}

.faq__item:hover .purple circle{
    fill: var(--primary-color);
    stroke: var(--primary-color);
    transition-duration: 3s;
    transition-delay: 0.6s;
    transition-timing-function: linear;
    transition-property: fill, stroke;
}

.faq__item:hover .purple path{
    fill: #ffffff;
    transition-duration: 0.9s;
    transition-property: fill;
}

 .faq__item:hover .white path {
    fill: var(--primary-color);
    transition-duration: 0.9s;
    transition-property: fill;
}

 .faq__item:hover .white circle {
    fill: #FFFFFF;
    transition-duration: 3s;
    transition-delay: 0.6s;
    transition-timing-function: linear;
    transition-property: fill;
}

 .faq__item:active .white svg {
    opacity: 0;
    position: relative;
}

 .faq__item:active .white {
    content: "";
    background-image: url("../img/change_white.svg");
    background-size: 44px;
    background-repeat: no-repeat;
    transition-duration: 3s;
    transition-delay: 0.6s;
    transition-timing-function: linear;
    transition-property: background-image;
}

.faq__item:active .purple svg {
    opacity: 0;
    position: relative;
}

.faq__item:active .purple {
    content: "";
    background-image: url("../img/change_purple.svg");
    background-repeat: no-repeat;
    background-size: 44px;
    transition-duration: 3s;
    transition-delay: 0.6s;
    transition-timing-function: linear;
    transition-property: background-image;
}

.white:focus {
    outline-color: #ffffff ;
    transition-duration: 2s;
    transition-property:outline-color;
}

.purple:focus {
    outline-color: var(--primary-color) ;
    transition-duration: 2s;
    transition-property:outline-color;
}

.faq__section {
    margin-bottom: 100px;
}

.faq__item:not(:last-child) {
    margin-bottom: 20px;
}

.faq__title{
    font-weight: 700;
    font-size: 40px;
    text-align: center;
    text-transform: uppercase;
    margin: 0 0 40px 0;
}

.faq__item{
    background-color: #fff;
    color: #1C1A1A;
    font-weight: 700;
    font-size: 24px;
    padding: 30px 70px;
    list-style: none;
    position: relative;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}


@media (max-width: 1024px) {
    .faq {
        padding: 30px 0;
    }

    .faq__item {
        padding: 12px 20px 12px 30px;
        font-size: 20px;
        line-height: 24px;
    }

    .faq__title {
        font-size: 30px;
        line-height: 40px;
    }

    .faq__item:nth-child(even) {
        background-color: #FFFFFF;
        color: #1C1A1A;
    }

    .white {
        display: none;
    }

    .purple-extra {
        display: flex;
    }

    .faq-extra {
        display: none;
    }

    .faq-last {
        margin-bottom: 0;
    }

    .faq__item:not(:last-child) {
        margin: 0;
    }

    .faq__list {
        display: flex;
        flex-flow: column wrap;
        margin: 0;
        gap: 16px;
    }

    .faq__item:hover .purple-extra circle{
        fill: var(--primary-color);
        stroke: var(--primary-color);
        transition-duration: 3s;
        transition-delay: 0.6s;
        transition-timing-function: linear;
        transition-property: fill, stroke;
    }

    .faq__item:hover .purple-extra path{
        fill: #ffffff;
        transition-duration: 0.9s;
        transition-property: fill;
    }

    .faq__item:active .purple-extra svg {
        opacity: 0;
        position: relative;
    }

    .faq__item:active .purple-extra {
        content: "";
        background-image: url("../img/change_purple.svg");
        background-repeat: no-repeat;
        background-size: 44px;
        transition-duration: 3s;
        transition-delay: 0.6s;
        transition-timing-function: linear;
        transition-property: background-image;
    }

    .purple-extra:focus {
        outline-color: var(--primary-color) ;
        transition-duration: 2s;
        transition-property:outline-color;
    }
}

@media (max-width: 768px) {
    .faq__title {
        font-size: 24px;
        line-height: 26px;
        margin-bottom: 30px;
    }

    .faq__item {
        font-size: 18px;
        line-height: 24px;
        padding: 12px 65px 12px 54px;
    }
}

@media (max-width: 600px) {
    .faq__title {
        font-size: 20px;
        line-height: 24px;
        margin-bottom: 15px;
    }

    .faq__item {
        font-size: 16px;
        line-height: 22px;
        padding: 7px 13px 9px 13px;
    }
}

@media (max-width: 368px) {
    .faq {
        padding: 15px 0;
    }

    .faq__title {
        font-size: 14px;
        line-height: 18px;
    }

    .faq__item {
        font-size: 12px;
        line-height: 16px;
        gap: 5px;
    }

    .faq__button {
        width: 30px;
        height: 30px;
    }

    .faq__item:active .purple {
        background-size: 30px;
        background-position: center;
    }

    .faq__item:active .purple-extra {
        background-size: 30px;
        background-position: center;
    }
}