
.feedback__title {
    font-size: 40px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    margin-bottom:40px ;
}

.feedback__list {
    margin: 0 0;
}

.feedback__item {
    list-style: none;
    white-space: pre-line;
}

.card-one {
    display: flex;
    flex-flow: row wrap;
    gap: 11px;
    margin-bottom: 50px;
}

.card-one__title {
    font-weight: 400;
    font-size: 20px;
    position: relative;
    width: 280px;
    height: 28px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: end;
}

.card-one__image {
    width: 280px;
    height: 280px;
    border-radius: 100%;
    object-fit: cover;
    object-position: top;
}

.card-one__subtitle {
    font-weight: 400;
    font-size: 20px;
    width: 680px;
    height: 88px;
    position: relative;
    bottom: -40px;
}

.card-next {
    display: flex;
    flex-flow: row wrap;
    gap: 11px;
    margin-bottom: 50px;
}

.card-next__title {
    font-weight: 400;
    font-size: 20px;
    position: relative;
    width: 280px;
    height: 28px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: end;
}

.card-next__image {
    width: 280px;
    height: 280px;
    border-radius: 100%;
    object-fit: cover;
    object-position: top;
}

.card-next__subtitle {
    font-weight: 400;
    font-size: 20px;
    width: 680px;
    height: 88px;
    position: relative;
    bottom: -60px;
}

.card-next {
    display: flex;
    flex-flow: row wrap;
    gap: 11px;
    margin-bottom: 50px;
}

.card-next__title {
    font-weight: 400;
    font-size: 20px;
    position: relative;
    width: 280px;
    height: 28px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: end;
}

.card-next__image {
    width: 280px;
    height: 280px;
    border-radius: 100%;
    object-fit: cover;
    object-position: top;
}

.card-next__subtitle {
    font-weight: 400;
    font-size: 20px;
    width: 680px;
    height: 88px;
    position: relative;
    bottom: -60px;
}

.card-last {
    display: flex;
    flex-flow: row wrap;
    gap: 11px;
}

.card-last__title {
    font-weight: 400;
    font-size: 20px;
    position: relative;
    width: 280px;
    height: 28px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: end;
}

.card-last__image {
    width: 280px;
    height: 280px;
    border-radius: 100%;
    object-fit: cover;
    object-position: top;
}

.card-last__subtitle {
    font-weight: 400;
    font-size: 20px;
    width: 680px;
    height: 88px;
    position: relative;
    bottom: -60px;
}