.footer {
    background: linear-gradient(180deg, #1B1A1B 0%, #370A37 100%) ;
    min-height: 629px;
}

.contacts__section {
    margin: 0 0;
    padding: 50px 0 10px 0;
}

.contacts__container {
    display: flex;
    flex-flow: row nowrap;
    gap: 120px;
    margin-bottom: 156px;
}

.contacts {
    display: flex;
    flex-flow: column wrap;
    gap: 35px;
}

.contacts__wrapper {
    display: flex;
    flex-flow: column wrap;
    gap: 14px;
}

.contacts__title {
    font-weight: 700;
    font-size: 40px;
    line-height: 60px;
    text-align: center;
    text-transform: uppercase;
    margin: 0 0 54px 0 ;
}

.contacts__address {
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    width: 380px;
    height: 61px;
    text-align: left;
    white-space: pre-line;
    padding: 0 0 0 50px;
    background-size: 32px;
    background-repeat: no-repeat;
    background-position: left;
    background-image: url("../img/location.svg");
    margin-bottom: 25px;
}

.contacts__phone {
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    width: 380px;
    height: 28px;
    text-align: left;
    color: white;
    white-space: pre-line;
    text-decoration: none;
    padding: 0 0 0 50px;
    background-size: 32px;
    background-repeat: no-repeat;
    background-position: left;
    background-image: url("../img/bx_bxs-phone-call.svg");
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}

.contacts__mail {
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    width: 380px;
    height: 28px;
    text-align: left;
    color: white;
    text-decoration: none;
    padding: 0 0 0 50px;
    background-size: 32px;
    background-repeat: no-repeat;
    background-position: left;
    background-image: url("../img/envelope.svg");
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}

.contacts__image {
    width: 680px;
    height: 274px;
}

.social {
    margin:0 0;
    padding: 0 0;
}

.social__column {
    padding: 0 0;
    margin: 0 0;
}

.social__item {
    display: inline-block;
    text-decoration: none;
    margin-right: 28px;
}

.social__link {
    display: block;
    width: 50px;
    height: 50px;
    color: #ffffff;
    outline: 1px solid transparent;
    border-radius: 50%;
    outline-offset: 2px;
    transition-property: color, outline-color;
    transition-duration: 0.3s, 0.2s;
    transition-timing-function: ease-in-out;
}

.social__link:hover {
    color: #EADEED;
}

.social__link:focus {
    color: #EADEED;
    outline-color: #CD06FF;
}

.social__link:active {
    color: #CD06FF;
    outline-color: transparent;
}

.bilding {
    display: flex;
    flex-flow: row nowrap;
    align-items: end;
    justify-content: space-between;
    padding-bottom: 10px;
}

.bilding__design {
    white-space: pre-line;
}
