.header {
    padding: 30px 0 29px 0;
}

.menu__button {
    color: var(--primary-color);
    background-color: var(--background-color);
    border: none;
    display: none;
    padding: 5px 2px;
}

.header__line {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}

.nav__list {
    min-width: 587px;
    font-weight: 400;
    font-size: 22px;
    list-style: none;
    text-transform: uppercase;
    margin: 0 0;
    padding: 12px 0;
    display: flex;
    gap: 40px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.navnav__item {
    outline: 1px solid transparent;
    outline-offset: 2px;
}

.navnav__item:hover {
    color: var(--main-color);
    transition-duration: 1.5s;
    transition-property: color;
}

.navnav__item:active {
    color: var(--primary-color-4);
    transition-duration: 1s;
    transition-property: color;
}

.navnav__item:focus {
    outline-color: var(--primary-color);
}

.navigation__call {
    font-weight: 700;
    font-size: 22px;
    text-transform: uppercase;
    color: #ffffff;
    background-color: #1B1A1B;
    border: 4px solid var(--main-color);
    border-radius: 10px;
    padding: 12px 32px 13px;
    outline: 1px solid transparent;
}

.navigation__call:hover {
    background-color: var(--primary-color);
    border-color: var(--primary-color);
    transition-duration: 2s;
    transition-property: background-color, border-color;
}

.navigation__call:active {
    background-color: var(--primary-color-4);
    border-color: var(--primary-color-4);
    transition-duration: 1.5s;
    transition-property: background-color, border-color;
}

.navigation__call:focus {
    background-color: var(--primary-color-4);
    border-color: var(--primary-color-4);
    outline-color: var(--primary-color);
    transition-duration: 2s;
    transition-property: background-color, border-color, outline-color;
}

@media(max-width: 1150px) {
    .navnav__list {
        justify-content: center;
        gap: 20px;
    }

    .navnav__item a {
        font-size: 20px;
        line-height: 24px;
    }

    .navigation__call {
        font-size: 18px;
        line-height: 24px;
        padding: 10px 26px 11px;
    }

    .navigation__logo {
        max-width: 87px;
        height: 55px;
    }
}

@media(max-width: 1024px) {
    .header {
        padding: 30px 0 13px 0;
    }

    .nav__item a {
        font-size: 18px;
        line-height: 22px;
    }

    .header__logo {
        max-width: 87px;
        height: 55px;
    }

    .header__line {
        justify-content: start;
        gap: 20px;
    }

    .navigation__call {
        border-radius: 8px;
    }

    .nav__list {
        justify-content: start;
        gap: 20px;
        padding-left: 31px;
        min-width: 488px;
    }
}

@media(max-width: 1006px) {
    .nav__list {
        display: none;
    }

    .menu__button {
        display: flex;
    }

    .menu__button:hover {
        color: var(--main-color);
        transition-duration: 2s;
        transition-property: color;
    }

    .menu__button:active {
        color: var(--primary-color-3);
        transition-duration: 2s;
        transition-property: color;
    }

    .menu__button:focus {
        color: var(--primary-color-3);
        border-color: var(--main-color);
        outline-color: var(--main-color);
        border: 1px solid var(--main-color);
        transition-duration: 2s;
        transition-property: color, border-color, outline-color;
    }

    .header__line {
        justify-content: center;
        gap: 150px;
    }

    .header__wrapper {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: center;
    }
}

@media (max-width: 815px) {
    .header {
        padding: 30px 0 19px 0;
    }

    .header__wrapper {
        gap: 50px;
    }

    .menu__button {
        max-width: 54px;
    }

    .header__line {
        gap: 90px;
    }
}

@media (max-width: 742px) {
    .header__wrapper {
        gap: 40px;
    }

    .header__line {
        gap: 90px;
    }
}

@media (max-width: 696px) {
    .header__wrapper {
        gap: 40px;
    }

    .header__line {
        gap: 50px;
    }
}

@media (max-width: 615px) {
    .navigation__call{
        display: none;
    }

    .header__line {
        gap: 0;
    }

    .header__wrapper {
        gap: 0;
    }
}

@media (max-width: 320px) {
    .header {
        padding: 7px 0 12px 0;
    }

    .menu__button {
        max-width: 39px;
    }

    .navigation__logo {
        max-width: 66px;
        height: 42px;
    }

    .header__logo {
        height: 42px;
    }
}

