.header__section {
    padding: 38px 0 29px 0;
}

.header__line {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    gap: 75px;
}

.navigation__list {
    min-width: 587px;
    font-weight: 400;
    font-size: 22px;
    list-style: none;
    text-transform: uppercase;
    margin: 0 0;
    padding: 12px 0;
    display: flex;
    gap: 40px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.navigation__item {
    outline: 1px solid transparent;
    outline-offset: 2px;
}

.navigation__item:hover {
    color: #CD06FF;
    transition-duration: 1.5s;
    transition-property: color;
}

.navigation__item:active {
    color: #640AA3;
    transition-duration: 1s;
    transition-property: color;
}

.navigation__item:focus {
    outline-color: #6C0287;
}

.navigation__call {
    font-weight: 700;
    font-size: 22px;
    text-transform: uppercase;
    color: #ffffff;
    background-color: #1B1A1B;
    border: 3px solid #CD06FF;
    border-radius: 10px;
    padding: 12px 32px 13px;
    outline: 1px solid transparent;
}

.navigation__call:hover {
    background-color: #6C0287;
    border-color: #6C0287;
    transition-duration: 2s;
    transition-property: background-color, border-color;
}

.navigation__call:active {
    background-color: #640AA3;
    border-color: #640AA3;
    transition-duration: 1.5s;
    transition-property: background-color, border-color;
}

.navigation__call:focus {
    background-color: #6C0287;
    border-color: #6C0287;
    outline-color: #6C0287;
    transition-duration: 2s;
    transition-property: background-color, border-color, outline-color;
}